.model_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.addstory_model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50vw;
  height: 74vh;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.25);
}

.addstory_model_form {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.slidesdiv {
  width: 80%;
  /* margin: 0.5rem 0; */
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.slide,
.addslide {
  margin: 0 0.5rem;
  font-weight: 600;
  height: 7vh;
  /* padding: 0.3rem 0.5rem; */
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
.cutslide {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  cursor: pointer;
}
.cutslide img {
  width: 0.7rem;
}

.selected {
  border: 2px solid rgb(52, 150, 255);
}

.close_btn {
  position: absolute;
  right: 0.5rem;
  top: 0;
  cursor: pointer;
}
.close_btn img {
  width: 2rem;
}
.warning {
  font-size: 0.8rem;
  position: absolute;
  right: 0.5rem;
  top: 2.5rem;
}
.addstory_model_form p {
  /* margin-bottom: 1rem; */
  font-weight: 600;
}
.form_container {
  overflow-x: auto;
  display: flex;
  height: 76%;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.form {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 22rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.input_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_box label {
  font-weight: 600;
}
.input {
  width: 60%;
  margin: 0.2rem 0;
  border: none;
  outline: none;
  border: 1px solid #aaaaaa;
  padding: 0.4rem;
}
.input_box option,
select {
  font-weight: 600;
}
.input:focus {
  border-bottom: 1px solid #767373;
}
.error {
  color: rgb(255, 0, 0);
}
.btns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.modal_preve__btn,
.modal_next__btn,
.modal_post__btn {
  color: #000;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 0.6rem;
  width: 5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.modal_preve__btn {
  background: #55f62d;
}
.modal_next__btn {
  background: #68b4ff;
}
.modal_post__btn {
  background: #ff4040;
}
/* Responcive  code  */
@media only screen and (max-width: 470px) {
  .login_model {
    width: 85vw;
    height: 60vh;
    border-radius: 0.4rem;
  }
  .login_model_form {
    width: 100%;
  }
  .login_model_form h1 {
    display: none;
  }
  .signin_model_btn {
    width: 90%;
    position: relative;
    right: -1rem;
    bottom: -2rem;
  }
  .model_banner {
    display: none;
  }
}

/* Responcive  code  */
@media only screen and (max-width: 470px) {
  .addstory_model {
    width: 95vw;
  }
}
